In [15]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
import warnings
warnings.filterwarnings('ignore')

In [4]:

dataset = pd.read_csv(r'C:\Users\ASUS\Downloads\produits.csv')
dataset

   B  P  S  C  E
0  1  0  1  1  1
1  0  1  0  1  0
2  0  0  1  1  1
3  1  0  0  0  1
4  0  1  1  1  0

In [5]:
dataset = dataset.astype('bool')
dataset

       B      P      S      C      E
0   True  False   True   True   True
1  False   True  False   True  False
2  False  False   True   True   True
3   True  False  False  False   True
4  False   True   True   True  False

In [20]:
frequent_itemsets = apriori(dataset, min_support=0.4, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(len)
frequent_itemsets

    support   itemsets  length
0       0.4        (B)       1
1       0.4        (P)       1
2       0.6        (S)       1
3       0.8        (C)       1
4       0.6        (E)       1
5       0.4     (B, E)       2
6       0.4     (C, P)       2
7       0.6     (C, S)       2
8       0.4     (E, S)       2
9       0.4     (C, E)       2
10      0.4  (C, E, S)       3

In [19]:
frequent_itemsets[frequent_itemsets['length'] == 2]

   support itemsets  length
5      0.4   (B, E)       2
6      0.4   (C, P)       2
7      0.6   (C, S)       2
8      0.4   (E, S)       2
9      0.4   (C, E)       2

In [21]:
frequent_itemsets[frequent_itemsets['length'] >= 3]

    support   itemsets  length
10      0.4  (C, E, S)       3

In [31]:
frequent_itemsets[(frequent_itemsets['length'] >= 2) & (frequent_itemsets['itemsets'].ge({'C'}))]

    support   itemsets  length
6       0.4     (C, P)       2
7       0.6     (C, S)       2
9       0.4     (C, E)       2
10      0.4  (C, E, S)       3

In [33]:
rules1 = association_rules(frequent_itemsets,metric="confidence", min_threshold=0.6)
rules1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(B),(E),0.4,0.6,0.4,1.000000,1.666667,1.0,0.16,inf,0.666667,0.666667,1.000000,0.833333
1,(E),(B),0.6,0.4,0.4,0.666667,1.666667,1.0,0.16,1.8,1.000000,0.666667,0.444444,0.833333
2,(P),(C),0.4,0.8,0.4,1.000000,1.250000,1.0,0.08,inf,0.333333,0.500000,1.000000,0.750000
3,(C),(S),0.8,0.6,0.6,0.750000,1.250000,1.0,0.12,1.6,1.000000,0.750000,0.375000,0.875000
4,(S),(C),0.6,0.8,0.6,1.000000,1.250000,1.0,0.12,inf,0.500000,0.750000,1.000000,0.875000
5,(E),(S),0.6,0.6,0.4,0.666667,1.111111,1.0,0.04,1.2,0.250000,0.500000,0.166667,0.666667
6,(S),(E),0.6,0.6,0.4,0.666667,1.111111,1.0,0.04,1.2,0.250000,0.500000,0.166667,0.666667
7,(E),(C),0.6,0.8,0.4,0.666667,0.833333,1.0,-0.08,0.6,-0.333333,0.400000,-0.666667,0.583333
8,"(C, E)",(S),0.4,0.6,0.4,1.000000,1.666667,1.0,0.16,inf,0.666667,0.666667,1.000000,0.833333
9,"(C, S)",(E),0.6,0.6,0.4,0.666667,1.111111,1.0,0.04,1.2,0.250000,0.500000,0.166667,0.666667
10,"(E, S)",(C),0.4,0.8,0.4,1.000000,1.250000,1.0,0.08,inf,0.333333,0.500000,1.000000,0.750000
11,(E),"(C, S)",0.6,0.6,0.4,0.666667,1.111111,1.0,0.04,1.2,0.250000,0.500000,0.166667,0.666667
12,(S),"(C, E)",0.6,0.4,0.4,0.666667,1.666667,1.0,0.16,1.8,1.000000,0.666667,0.444444,0.833333

In [36]:
# Déterminer les règles d'association avec un lift > 1
rules2 = rules1[rules1['lift'] > 1].reset_index()


rules2

,index,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,0,(B),(E),0.4,0.6,0.4,1.000000,1.666667,1.0,0.16,inf,0.666667,0.666667,1.000000,0.833333
1,1,(E),(B),0.6,0.4,0.4,0.666667,1.666667,1.0,0.16,1.8,1.000000,0.666667,0.444444,0.833333
2,2,(P),(C),0.4,0.8,0.4,1.000000,1.250000,1.0,0.08,inf,0.333333,0.500000,1.000000,0.750000
3,3,(C),(S),0.8,0.6,0.6,0.750000,1.250000,1.0,0.12,1.6,1.000000,0.750000,0.375000,0.875000
4,4,(S),(C),0.6,0.8,0.6,1.000000,1.250000,1.0,0.12,inf,0.500000,0.750000,1.000000,0.875000
5,5,(E),(S),0.6,0.6,0.4,0.666667,1.111111,1.0,0.04,1.2,0.250000,0.500000,0.166667,0.666667
6,6,(S),(E),0.6,0.6,0.4,0.666667,1.111111,1.0,0.04,1.2,0.250000,0.500000,0.166667,0.666667
7,8,"(C, E)",(S),0.4,0.6,0.4,1.000000,1.666667,1.0,0.16,inf,0.666667,0.666667,1.000000,0.833333
8,9,"(C, S)",(E),0.6,0.6,0.4,0.666667,1.111111,1.0,0.04,1.2,0.250000,0.500000,0.166667,0.666667
9,10,"(E, S)",(C),0.4,0.8,0.4,1.000000,1.250000,1.0,0.08,inf,0.333333,0.500000,1.000000,0.750000
10,11,(E),"(C, S)",0.6,0.6,0.4,0.666667,1.111111,1.0,0.04,1.2,0.250000,0.500000,0.166667,0.666667
11,12,(S),"(C, E)",0.6,0.4,0.4,0.666667,1.666667,1.0,0.16,1.8,1.000000,0.666667,0.444444,0.833333

In [40]:
rules3 = rules2.sort_values(by='lift', ascending=False)[:4]
rules3

,index,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,0,(B),(E),0.4,0.6,0.4,1.000000,1.666667,1.0,0.16,inf,0.666667,0.666667,1.000000,0.833333
1,1,(E),(B),0.6,0.4,0.4,0.666667,1.666667,1.0,0.16,1.8,1.000000,0.666667,0.444444,0.833333
7,8,"(C, E)",(S),0.4,0.6,0.4,1.000000,1.666667,1.0,0.16,inf,0.666667,0.666667,1.000000,0.833333
11,12,(S),"(C, E)",0.6,0.4,0.4,0.666667,1.666667,1.0,0.16,1.8,1.000000,0.666667,0.444444,0.833333

In [41]:
rules3[(rules3[('antecedents')].ge({'E'})) & (rules3[('consequents')].ge({'S'}))]

,index,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
7,8,"(C, E)",(S),0.4,0.6,0.4,1.0,1.666667,1.0,0.16,inf,0.666667,0.666667,1.0,0.833333

In [50]:

c = np.linspace(1, 0.1, 10)
for i in c:
    try:
     rules = association_rules(apriori(dataset, min_support=i, use_colnames=True), metric="lift", min_threshold=1)
     if len(rules) >= 2:
        print("S_min={} ".format(i))
        break
    except: print("i{}, NO_FREQUENT_ITEMSET".format(i))
    else:
        print("i{}, NB_INTRESTING_RULES={}".format(i,len(rules)))

i1.0, NO_FREQUENT_ITEMSET
i0.9, NO_FREQUENT_ITEMSET
i0.8, NB_INTRESTING_RULES=0
i0.7, NB_INTRESTING_RULES=0
S_min=0.6