In [19]:
# TP3.2: LINEAR REGRESSION - Startup Profit Prediction (Simplified Version)
# Purpose: Same as TP3.1 but with cleaner code structure
# Method: Multiple Linear Regression with preprocessing
# Key difference: More concise, no outlier visualization

# Import necessary libraries
import pandas as pd  # For data manipulation
from sklearn.metrics import r2_score  # For model evaluation

# STEP 1: Load the dataset
dataset = pd.read_csv("C:/Users/ASUS/Downloads/Startups.csv")
print(dataset)  # Display dataset

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [18]:
# STEP 2: Prepare features (X) and target (y)
X = dataset.iloc[:, :-1]  # All columns except last (features: R&D, Admin, Marketing, State)
y = dataset.iloc[:, -1]   # Last column (target: Profit)

# STEP 3: Encode categorical variable (State)
# get_dummies: converts categorical 'State' to numerical dummy variables
# drop_first=True: avoids multicollinearity (drops one category as reference)
# dtype=int: ensures dummy variables are integers (0 or 1)
X = pd.get_dummies(X, drop_first=True, dtype=int)
X.head()  # Display first 5 rows

   R&D Spend  Administration  Marketing Spend  State_Florida  State_New York
0  165349.20       136897.80        471784.10              0               1
1  162597.70       151377.59        443898.53              0               0
2  153441.51       101145.55        407934.54              1               0
3  144372.41       118671.85        383199.62              0               1
4  142107.34        91391.77        366168.42              1               0

In [5]:
# STEP 4: Split data into training and testing sets
from sklearn.model_selection import train_test_split

# test_size=0.2: 20% for testing, 80% for training
# random_state=0: ensures reproducible results
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# STEP 5: Feature scaling (standardization)
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()  # Create scaler object
cols = ['R&D Spend', 'Administration', 'Marketing Spend']  # Columns to scale

# Important: fit only on training data to avoid data leakage
sc = sc.fit(X_train[cols])  # Calculate mean and std from training data
X_train[cols] = sc.transform(X_train[cols])  # Apply scaling to training data
X_test[cols] = sc.transform(X_test[cols])    # Apply same scaling to test data
X_train.head()  # Display scaled training data

    R&D Spend  Administration  Marketing Spend  State_Florida  State_New York
33  -0.350065       -0.785471         0.101197              1               0
35  -0.555303       -1.481174         0.027350              0               1
26   0.079358        0.801334        -0.551521              1               0
34  -0.546382        1.325058         0.070117              0               0
18   0.434854       -0.355987         0.751485              1               0

In [6]:
# STEP 6: Verify standardization
# Mean should be ≈ 0 and standard deviation should be ≈ 1
print(X_train[cols].mean())  # Check means (should be close to 0)
print(X_train[cols].std())   # Check standard deviations (should be close to 1)

R&D Spend         -1.665335e-16
Administration    -2.220446e-17
Marketing Spend    4.440892e-17
dtype: float64
R&D Spend          1.012739
Administration     1.012739
Marketing Spend    1.012739
dtype: float64

In [10]:
# STEP 7: Train Linear Regression model
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()  # Create model
regressor.fit(X_train, y_train)  # Train model on training data

# Display model parameters
print(regressor.coef_)  # Coefficients (weights for each feature)
print(regressor.intercept_)  # Intercept (bias term)
print(regressor.score(X_train, y_train))  # R² score on training data

[35726.28774249   851.30163448  4519.88277698  -959.28416006
   699.36905252]
109441.48912163253
0.9501847627493607

In [20]:
# STEP 8: Evaluate model on test data
y_pred = regressor.predict(X_test)  # Make predictions on test data
r2_score(y_test, y_pred)  # R² score on test data (measures prediction accuracy)

0.9347068473282423

In [22]:
# STEP 9: Make prediction for new startup
# Example: R&D=140000, Admin=10000, Marketing=35000, State=California (0,0)
df = pd.DataFrame(data=[[140000, 10000, 35000, 0, 0]], columns=X.columns)
df[cols] = sc.transform(df[cols])  # Apply same scaling as training data
print(regressor.predict(df))  # Predict profit for new startup

[152449.77148092]